* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 40px;
  text-align: center;
}

.dot {
  color: red;
  font-size: 50px;
}

.art2 {
  border-bottom: 2px solid #E3E3E3;
  padding-bottom: 80px;
}

.over {
  background: linear-gradient(to top, #E93D2D 20%, #DA0E41 80%);
  width: 100%;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  height: 500px;
  transform: skewY(-5deg);
  width: 100%;
  background: linear-gradient(to top, #E93D2D 20%, #DA0E41 80%);
}

.header-nav {
  transform: skewY(5deg);
  background-color: #DA0E41;
  color: color3;
  padding: 25px;
  padding-top: 10px;
}

.header-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header-nav ul li {
  font-size: 22px;
  margin-right: 25px;
  text-transform: uppercase;
  font-weight: 300;
}

.header-nav ul li:first-child {
  text-decoration: line-through;
}

.header nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.header-logo {
  font-size: 35px;
  font-weight: 700;
  margin-left: 20px;
}

.header-container {
  transform: skewY(5deg);
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
  flex-direction: row;
}

.header-container img {
  width: 300px;
  min-height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.header-left {
  color: white;
  text-align: left;
}

.header-left p:first-of-type {
  font-size: 60px;
  font-weight: 700;
}

.header-left p:nth-last-of-type(2) {
  margin-top: 20px;
  font-size: 19px;
  font-weight: 400;
  margin-top: 10px;
}

.header-left-btn {
  width: 150px;
  height: 30px;
  background-color: #FEFCFD;
  border: 2px solid transparent;
  border-radius: 20px;
  color: #E93D2D;
  font-weight: 600;
  margin-top: 60px;
}

.section-art1 {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.section-art1-descr {
  width: 360px;
  align-self: center;
}

.section-art1-descr p:first-child {
  font-size: 50px;
  color: black;
}

.section-art1-descr p:last-child {
  color: #A0A0A0;
  font-size: 15px;
  margin-top: 20px;
}

.section-art1-top {
  position: relative;
  min-height: 400px;
  margin-top: 20px;
  justify-content: center;
}

.section-art1-top img {
  width: 200px;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 40px;
  left: 110px;
  box-shadow: 2px 2px 25px 15px #E3E3E3;
  position: relative;
  margin-bottom: 20px;
}

.section-art1-top::before {
  content: ' ';
  background-image: url(img/Messages.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 350px;
  position: absolute;
  top: 5px;
  left: -20px;
  box-shadow: 2px 2px 25px 15px #E3E3E3;
}

.section-art1-bottom {
  position: relative;
  justify-content: center;
  min-height: 400px;
  margin-top: 60px;
}

.section-art1-bottom img {
  width: 200px;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  right: 110px;
  box-shadow: 2px 2px 12px 6px #E3E3E3;
  position: relative;
  margin-bottom: 20px;
}

.section-art1-bottom::before {
  content: ' ';
  background-image: url(img/Groups.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 350px;
  position: absolute;
  top: -39px;
  right: -20px;
}

.main {
  margin-left: auto;
  padding: 0 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  margin-bottom: 200px;
}

.main article {
  padding: 20px;
  color: white;
  height: 300px;
}

.main article .item1 {
  margin-top: 40px;
  border: 1px solid #CACACA;
}

.main article .item2 {
  margin-top: 40px;
  box-shadow: 0 20px 28px rgba(0, 0, 0, 0.25), 0 1px 5px rgba(0, 0, 0, 0.22);
  transform: translateY(-20px);
}

.main article .item3 {
  margin-top: 40px;
  border: 1px solid #CACACA;
}

.main article img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-left: 30px;
}

.main-img {
  display: flex;
}

.main-info {
  width: 70%;
  height: auto;
  padding: 25px;
  color: #CACACA;
  font-weight: 600;
  position: relative;
}

.main-info .shadow {
  box-shadow: 2px 2px 12px 6px #E3E3E3 !important;
}

.main-info::after {
  content: '';
  position: absolute;
  width: 11px;
  height: 11px;
  transform: rotate(-135deg);
  background-color: white;
  border: 1px solid #CACACA;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  bottom: -8px;
  left: 50%;
  left: 20px;
}

.main-info span {
  display: block;
  color: #DA0E41;
  font-weight: 600;
  margin-top: 10px;
}

.main-name {
  color: #7D7F88;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 15px;
  font-weight: 600;
}

.main-name span {
  color: #A0A0A0;
  font-size: 13px;
}

.container2 {
  margin-top: 50px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  min-height: 420px;
  margin-bottom: 80px;
  justify-content: center;
}

.container2-card {
  position: relative;
  align-self: center;
}

.container2-card img {
  position: absolute;
  bottom: -260px;
  left: 0;
  width: 300px;
  height: auto;
}

.container2-card .msg {
  text-align: end;
  font-size: 16px;
  position: relative;
  width: 280px;
  margin: 10px 0;
  align-items: space-around;
}

.container2-card .msg span {
  font-size: 30px;
  display: block;
  position: absolute;
  right: -45px;
  top: 15px;
}

.container2-card:last-child .msg {
  text-align: start;
}

.container2-card:last-child .msg span {
  left: -45px;
}

.sub-container {
  margin-top: 30px;
  display: grid;
  grid-auto-rows: minmax(150px, 1fr);
  width: 100%;
  justify-content: center;
  border-bottom: 2px solid #7D7F88;
  padding-bottom: 10px;
}

.sub-container-el {
  padding: 5px;
  background-color: white;
  height: 50px;
  position: relative;
}

.sub-container-el h1 {
  font-size: 30px;
}

.sub-container-el-inf {
  padding: 10px;
  font-size: 17px;
  text-align: center;
}

.sub-container-el-email {
  height: 50px;
  width: 400px;
  border-radius: 30px;
  padding: 10px;
  background-color: #D8D8D8;
  border: none;
}

.sub-container-el-btn {
  width: 170px;
  height: 50px;
  padding: 5px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to top, #E93D2D 20%, #DA0E41 80%);
  color: white;
  font-size: 16px;
  position: absolute;
  top: 3px;
  right: 30%;
  box-shadow: 0 2px 15px 5px #F8A4BB;
}

.sub-container-el2 h1 {
  font-size: 30px;
}

.sub-container-el2:first-child {
  text-align: center;
}

.sub-container-el2:nth-child(2) {
  text-align: center;
  font-size: 30px;
}

.sub-container-el2:nth-last-child(1) {
  text-align: center;
}

.sub-container-el2-inf {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #919191;
}

.sub-container-el2-img-ic img {
  width: 100px;
  height: auto;
  border-radius: 23px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 2px 15px 5px #F8A4BB;
}

.sub-container-el2-img-l img {
  width: 150px;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  padding: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-nav ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer-nav ul li {
  list-style: none;
  margin: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #595959;
  text-transform: uppercase;
}

.footer-nav select {
  color: #595959;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  background-color: #CDCDCD;
  border: none;
}

.footer-nav select option {
  margin: 5px;
  padding: 10px;
  font-size: 15px;
}

@media (max-width: 1240px) {
  .container2-card:last-child .msg {
    text-align: end;
  }

  .container2-card:last-child .msg span {
    left: -25px;
  }
}

@media (max-width: 1180px) {
  .container2-card img {
    bottom: -300px;
    width: 200px;
  }
}

@media (max-width: 940px) {
  .container2 {
    padding: 0 10px;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }

  .container2-card .msg {
    text-align: end;
    font-size: 13px;
    width: 240px;
    margin: 10px 0;
  }

  .container2-card .msg span {
    left: -13px;
  }
}

@media (max-width: 930px) {
  .section-art1-descr p:first-child {
    font-size: 40px;
  }

  .section-art1-descr {
    text-align: center;
    padding: 20px;
    flex: 0 0 100%;
  }
}

@media (max-width: 840px) {
  .sub-container-el-email {
    margin-left: 10%;
  }
}

@media (max-width: 740px) {
  .container2 {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding: 0 10px;
    justify-content: center;
  }

  .container2-card img {
    bottom: 0;
    width: 200px;
    position: relative;
  }
}

@media (max-width: 730px) {
  .header-nav ul li {
    font-size: 14px;
    margin-right: 10px;
    font-weight: 400;
  }

  .header-nav ul {
    margin-top: 10px;
  }

  .header-logo {
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
  }

  .header-container img {
    width: 180px;
    margin-top: 20px;
  }

  .header-container {
    margin-top: 10px;
    justify-content: center;
  }

  .header-left p:first-of-type {
    font-size: 45px;
    font-weight: 500;
  }

  .header-left p:nth-last-of-type(2) {
    font-size: 12px;
    font-weight: 400;
  }

  .header-left-btn {
    width: 110px;
    height: 20px;
    font-size: 12px;
    font-weight: 400;
    margin-top: 30px;
  }

  .section-art1-top img {
    width: 170px;
    height: 270px;
    top: 40px;
    left: 60px;
  }

  .section-art1-top::before {
    width: 170px;
    height: 270px;
    top: 0;
    right: 0;
  }

  .section-art1-bottom img {
    width: 170px;
    height: 270px;
    top: 0;
    right: 60px;
  }

  .section-art1-bottom::before {
    width: 170px;
    height: 270px;
    top: -30px;
    right: -30px;
  }
}

@media (max-width: 640px) {
  .sub-container-el-email {
    width: 280px;
    height: 40px;
    margin-left: 15%;
  }

  .sub-container-el-btn {
    width: 80px;
    height: 43px;
  }
}

@media (max-width: 630px) {
  .footer-nav {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .sub-container-el2-inf {
    padding: 5px;
  }
}

@media (max-width: 510px) {
  .sub-container-el-btn {
    right: 17%;
  }
}

@media (min-width: 730px) and (max-width: 830px) {
  .header-left p:first-of-type {
    font-size: 40px;
    font-weight: 500;
  }
}